extends ../index

block content
  h1.
    Hello List
  ul
    each hello, i in hellolist
      li
        span #{hello.greeting} #{hello.recipient} 
          a(href=basepath + "/hello/del/" + hello._id.toHexString()) del
          |
          a(href=basepath + "/hello/edit/" + hello._id.toHexString()) edit
  a(href=basepath + "/hello/new") new hello